<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV Web</title>


    <!-- Add OpenCV -->
    <script async src="../Resources/opencv.js" onload="CV()"></script>
    <!-- link to css file -->
    <link rel="stylesheet" href="style.css">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

</head>
<body>
    <!-- Main Page -->
<div class = "main-page">

    <!---------------Side Line---------------->
    <div class="side-line">

    </div>

    <!-----------------Side Bar--------------->
    <div class="side-bar">
        <span class="circle" id="button-rgb">
            <i class="material-icons" style="font-size: 36px; color: white;">
                palette
            </i>
        </span>
        <span class="circle" id="button-gray">
            <i class="material-icons" style="font-size: 36px; color: white;">
                contrast
            </i>
        </span>
        <span class="circle" id="button-blur">
            <i class="material-icons" style="font-size: 36px; color: white;">
                blur_on
            </i>
        </span>
        <span class="circle" id="button-edge">
            <i class="material-icons" style="font-size: 36px; color: white;">
                grade
            </i>
        </span>
        <span class="circle blue-circle">
            <i class="material-icons" style="font-size: 36px; color: white;">
                videocam
            </i>
        </span>
    </div>

    <!---------------Right Panel-------------->
    <div class="right-panel">
            <!---------------Header------------------->
        <div class="header">
            <div class="empty-side"></div>
            <h1>Photoshop</h1>
            <div class="logo-container"><img src="../../Resources/logo.png" width="200"></div>
        </div>
            <!-------------Tablet-Container----------->
        <div class="tablet-container">
            <img id="tablet-img" src="../../Resources/tablet.png" width="1050" height="780">
            <canvas id="main-canvas" width="960" height="720">
                <img id="img-main" img src="../../Resources/background.jpg" width="955" height="585" alt=""></canvas>
        </div>
    </div>
</div>

    <!-- link to jss file -->
    <script src="main.js"></script>
</body>
</html>